<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rendering Components</title>
</head>
<body>
  <div id="app">
    <my-component :propsdata="message"></my-component>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script>
    const MyComponent = {
      props: ['propsdata'],
      template: '<p>{{ propsdata }}</p>'
    };

    new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js'
      },
      render() {
        // 위 컴포넌트 등록 코드를 대체하는 렌더 함수를 구현하세요.
      }
    })
  </script>
</body>
</html>
