$green-100 = #eef6ef
$green-400 = #3eaf7c
$green-600 = #388341

// back-to-top 스타일
svg.go-to-top
  width: 2rem
  height: 2rem
  padding: 1rem
  border-radius: 15px
  color: $green-400
  background-color: $green-100
  @media (max-width: 959px)
    display: block !important
    width: 1.25rem !important
    height: 1rem
    right: 0 !important
    bottom: 7rem !important
    border-top-right-radius: 0
    border-bottom-right-radius: 0

pre .code-copy {
  margin-top: -0.85rem;
}
