<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DOM Direct Accessing</title>
  <style>
    li {
      padding: 0.6rem;
    }
    .hide {
      display: none;
    }
  </style>
</head>
<body>
  <!-- jquery나 vanilla js로 직접 화면 요소를 조작하는 경우 refs를 활용 -->
  <div id="app">
    <!-- #1 TODO: 뷰 디렉티브를 이용하여 아래 코드 축소 -->
    <!-- #2 TODO: 이벤트 접근 방식이 아닌 ref 속성으로 'hide' 클래스 토글링 -->
    <ul>
      <li @click="removeItem(index)" 
        v-for="(item, index) in items" v-bind:key="index">
        <span>{{ item }}</span>
        <div class="child hide" ref="listItem">
          메뉴 설명
        </div>
      </li>
    </ul>

    <!-- <ul>
      <li v-for="(item, index) in items" @click="removeItem(index)">
        <span>메뉴 1</span>
        <div class="child hide" :ref="'listItem' + index">
          메뉴 설명
        </div>
      </li>
    </ul> -->
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        items: ['메뉴 1', '메뉴 2', '메뉴 3']
      },
      methods: {
        removeItem(index) {
          console.log(this.$refs.listItem[index]);
          this.$refs.listItem[index].classList.toggle("hide");

          // this.$refs[`listItem${index}`][0].classList.toggle('hide');
        }
      }
    })
  </script>
</body>
</html>