/* 
	color hunt palette  
	https://colorhunt.co/palette/15830
*/
.main-container {
	/* overflow: hidden; */
	/* z-index: 1; */
	/* overflow-x: auto; */
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1.4rem;
}

h1 {
	text-align: center;
	font-weight: 100;
}